body {
  font-size: 1.2em;
}

div {
	font-size: 1.2em;
	font-color: #80000;
}

li {
  font-size: 1.4em;
}

.category:hover {
  display: inline-block;
  cursor: pointer;
  background-color: blue;
  color: white;
}