body {
  font-size: 1.2em;
}

div {
	font-size: 1.2em;
	font-color: #800000;
}

li {
  font-size: 1.4em;
}

.category:hover {
  display: inline-block;
  cursor: pointer;
  background-color: #800000;
  color: white;
}

.button {
  background-color: #ffe4c4;
  border: none;
  color: #800000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}